.u-borderRadiusTopLeft4 {
  border-radius-top-left: 4px;
}
.u-borderRadiusTopRight4 {
  border-radius-top-right: 4px;
}
.u-borderRadiusBottomRight4 {
  border-radius-bottom-right: 4px;
}
.u-borderRadiusBottomLeft4 {
  border-radius-bottom-left: 4px;
}
