.u-padding1 {
  padding: 1em;
}

.u-paddingLeft1 {
  padding-left: 1em;
}

.u-paddingRight1 {
  padding-left: 1em;
}

.u-paddingTop3 {
  padding-top: 3em;
}

.u-paddingBottom3 {
  padding-bottom: 3em;
}

.u-paddingLeft3 {
  padding-left: 3em;
}
.u-paddingRigth3 {
  padding-right: 3em;
}
