@import 'theme';
@import 'utilities/index';

html, body {
  @extend .u-margin0;
  font-family: $fontFamily;
  background: $grey;
  font-size: $fontSize;
    height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}
