@import "../../styles/theme";
@import "../../styles/utilities/padding";
@import "../../styles/utilities/cursor";
@import "../../styles/utilities/margin";

.AccordionItem-title {
  @extend .u-padding1;
  @extend .u-cursorPointer;
  font-weight: bold;
  background-color: $purple;
  color: $white;
  &:hover, &--active {
    background-color: $darkPurple;
  }
}

.AccordionItem-content {
  @extend .u-margin0;
  @extend .u-paddingLeft1;
  @extend .u-paddingRight1;
  overflow: hidden;
  background-color: $darkGrey;
  height: 0;
  transition: all 0.3s ease;
  &-active {
  }
}
