.AccordionItem-title {
  font-weight: bold;
  cursor: pointer;
  padding: 1em;
  background-color: #eee;
  &:hover, &--active {
    background-color: #d9d9d9;
  }
}

.AccordionItem-content {
  overflow: hidden;
  background-color: green;
  height: 0;
  transition: height 0.3s ease;
  &-active {
    background: blue;
  }
}
