@import "../../styles/theme";
@import "../../styles/utilities/display";

.Header {
  @extend .u-displayFlex;
  @extend .u-alignItemsCenter;
  @extend .u-justifyContentCenter;
  height: $headerHeight;
  padding: $headerPaddingVertical $headerPaddingHorizontal;
  background-color: $blue;
  &-title {
    color: $white;
  }
}
