@import "../../styles/theme";

.Header {
  display: flex;
  height: $headerHeight;
  padding: $headerPaddingVertical $headerPaddingHorizontal;
  background-color: $blue;
  justify-content: center;
  align-items: center;
  &-title {
    color: white;
  }
}
