@import "../../styles/theme";
@import "../../styles/utilities/display";

.Footer {
  @extend .u-displayFlex;
  @extend .u-alignItemsCenter;
  @extend .u-justifyContentCenter;
  height: $footerHeight;
  padding: $footerPaddingVertical $footerPaddingHorizontal;
  background-color: $blue;
  &-text {
    color: $white;
  }
}
