@import "../../styles/utilities/display";
@import "../../styles/utilities/padding";

.Accordion {
  @extend .u-displayFlex;
  @extend .u-flexDirectionColumn;
  @extend .u-paddingTop3;
  flex: 1;
  margin: 0;
  overflow: hidden;
}
